/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #333; /* Dark grey background */
    color: white; /* White text */
}

a, a:visited {
    color: white;
}

/* Input and Textarea Styles */
input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #555;
    color: white;
    border: 1px solid #777;
    box-sizing: border-box;
}

/* Button and Link Styles */
button, .sendMessageLink, .logoutLink, a {
    display: block;
    max-width: 300px;
    margin: auto;
    padding: 10px;
    margin: 10px 0;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.logoutLink {
    background-color: #f44336;
}

button:hover, .sendMessageLink:hover, .logoutLink:hover, a:hover {
    opacity: 0.8;
}

/* Layout and Container Styles */
.top-bar, .messages-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.sendMessageLink {
    margin-left: 20px; /* Adjust as needed */
}

/* Message Sender Styles */
.messageSender {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #555;
    color: white;
    border-radius: 10px;
    width: fit-content;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: background-color 0.3s;
}

.messageSender:hover {
    background-color: #666;
}
