<!DOCTYPE html>
<html>
<head>
    <title>Your Private Key</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h2>Please write down your private key:</h2>
    <textarea id="privateKey" readonly>{{ private_key }}</textarea>
    <button onclick="copyPrivateKey()">Copy Private Key</button>
    <a href="javascript:void(0);" onclick="downloadPrivateKey()">Download Private Key as Text File</a>
    <a href="/dashboard">Go to Dashboard</a>

    <script>
        function copyPrivateKey() {
            var privateKeyElement = document.getElementById("privateKey");
            privateKeyElement.select();
            privateKeyElement.setSelectionRange(0, 99999);
            document.execCommand("copy");
            alert("Copied the private key to clipboard");
        }

        function downloadPrivateKey() {
            var privateKey = document.getElementById("privateKey").value;
            var element = document.createElement('a');
            element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(privateKey));
            element.setAttribute('download', 'privateKey.txt');

            element.style.display = 'none';
            document.body.appendChild(element);

            element.click();

            document.body.removeChild(element);
        }
    </script>
</body>
</html>
